@use "./config/variaveis.scss";

.about {
    padding: 20px 50px;
    display: flex;
    
    .about_text {

        .title-big {
            margin: 20px 0;
        }

        .wo  {
            margin: 25px 0;
        }

        .about_box {
            padding: 20px;

            .box_text_flex {
                display: flex;
                margin: 30px;

                .title-small {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .about_image {
        padding: 40px;
        img {
            border-radius: 20px;
            border: 4px solid variaveis.$colorText;
        }
    }
}